body {
    font-family: 'Poppins', sans-serif;
  }
  

.MuiBox-root {
    padding: 15px;
}

.section2-nopdf-img {
    max-width: 300px;
    height: auto;
}


.section3-icon{
    max-width: 100px;
    height: auto;
    
}

